fastapi==0.115.0
uvicorn[standard]==0.29.0
pydantic==2.7.1
requests==2.31.
python-multipart==0.0.9

streamlit==1.33.0

torch==2.2.2
torchvision==0.17.2

numpy==1.26.4
pillow==10.3.0
opencv-python==4.9.0.80
tqdm==4.66.4
scikit-learn==1.4.2
matplotlib==3.8.4

notebook>=7.0
ipykernel>=6.0
gdown